@model IEnumerable<LibraryManagementUICore.Models.BorrowHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.BorrowHistoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BorrowHistoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BorrowHistoryId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
