@model LibraryManagementUI.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<dl class="row">
    <dt>@Html.DisplayNameFor(model => model.Title) </dt>
    <dd>@Html.DisplayFor(model => model.Title) </dd>

    <dt>@Html.DisplayNameFor(model => model.SerialNumber) </dt>
    <dd>@Html.DisplayFor(model => model.SerialNumber) </dd>

    <dt>@Html.DisplayNameFor(model => model.Author) </dt>
    <dd>@Html.DisplayFor(model => model.Author) </dd>

    <dt>@Html.DisplayNameFor(model => model.Publisher) </dt>
    <dd>@Html.DisplayFor(model => model.Publisher) </dd>
</dl>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>