@model IEnumerable<LibraryManagementUI.Models.BookViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Books Management</h2>
<p>
    @Html.ActionLink("Create New Book", "Create", "Books")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                Record Actions
            </th>
            <th>
                Book Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Publisher)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Books", new { id = book.BookId }, new { }) |
                    @Html.ActionLink("Edit", "Edit", "Books", new { id = book.BookId }, new { }) |
                    @Html.ActionLink("Delete", "Delete", "Books", new { id = book.BookId }, new { })
                </td>
                <td>
                    @if (book.IsAvailable)
                    {
                        @Html.ActionLink("Borrow", "Create", "BorrowHistories", new { id = book.BookId }, new { @class = "btn btn-primary" })
                    }
                    else
                    {
                        @Html.ActionLink("Return", "Edit", "BorrowHistories", new { id = book.BookId }, new { @class = "btn btn-success" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

